body {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
    background-color: lightblue;
}

header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    align-items: center;
    font-size: 7vw;
    padding: 5px;
}

header p {
    display: inline;
    font-size: 1.5vw;
}

#greeting {
    font-size: 2vw;
    font-weight: bold;
}

#questions {
    font-size: 2vw;
}

.quiz-card {
    background-color: darkgrey;
    text-align: left;
    max-width: 60%;
    padding: 5px;
}

.quiz-card ul {
    list-style: none;
    max-width: 90%;
    margin-bottom: 5px;
}

.quiz-card ul li {
    border: 2px solid;
    border-radius: 25px;
    background-color: lightsalmon;
    font-size: 1.5vw;
    padding: 1.5px;
    margin: 3px;
}

.scoring-label {
    font-size: 2vw;
    font-weight: bold;
    padding-right: 3%;
    vertical-align: bottom;
}

#score-list {
    font-size: 2vw;
    font-weight: bold;
    list-style: none;
}


